.popup__button-save {
    border: none;
    outline: none;
    width: 358px;
    height: 50px;
    background-color: black;
    font-size: 18px;
    font-weight: 400;
    color: white;
    border-radius: 2px;
    padding: 0 0 0 0;
    margin-bottom: 37px;
    line-height: 1.22;
}

.popup__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 677px) {
    .popup__button-save {
        font-size: 14px;
        line-height: 1.21px;
    }
}