.profile__edit-button {
    margin: 0;
    order: 0;
    background-image: url(../../../images/edit-button.svg);
    border: none;
    outline: none;
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-size: cover;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 677px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
    }
}