.popup__title_function_delete {
    margin-bottom: 0;
}

@media screen and (max-width: 677px) {
    .popup__title_function_delete {
        width: 200px;
        margin-bottom: 16px;
        margin-top: 30px;
    }
}